{% extends 'app/base.html' %}

{% load static %}

{% block conenido %}

<div id="contenido">
    <div class="slider">
        <div>
            <img src="{% static 'app/img/banner/gearsbaner.jpg' %}" alt="">
        </div>
        <div>
            <img src="{% static 'app/img/banner/halobaner.jpeg' %}" alt="">
        </div>
        <div>
            <img src="{% static 'app/img/banner/codbanner.jpg' %}" alt="">
        </div>
    </div>
<h2>Personajes</h2>
<div class="productos">
    <div class="producto">
        <div class="contenedor_producto">
            <img src="{% static 'app/img/mago.png' %}" alt="mago">
            <div class="detalle">
                <h5>Mago de hielo</h5>
                <h2>Mago</h2>
                <h3>Especial</h3>
            </div>
        </div>
    </div>
    <div class="producto">
        <div class="contenedor_producto">
            <img src="{% static 'app/img/guerrero.png' %}" alt="guerrero">
            <div class="detalle">
                <h5>Guerrero</h5>
                <h2>Peleador</h2>
                <h3>Común</h3>
            </div>
        </div>
    </div>
    <div class="producto">
        <div class="contenedor_producto">
            <img src="{% static 'app/img/arquera.jpg' %}" alt="arquera">
            <div class="detalle">
                <h5>Arquera</h5>
                <h2>Tirador</h2>
                <h3>Común</h3>
            </div>
        </div>
    </div>
    <div class="producto">
        <div class="contenedor_producto">
            <img src="{% static 'app/img/tanque.png' %}" alt="tanque">
            <div class="detalle">
                <h5>Esqueleto gigante</h5>
                <h2>Tanque</h2>
                <h3>Épica</h3>
            </div>
        </div>
    </div>
    <div class="producto">
        <div class="contenedor_producto">
            <img src="{% static 'app/img/tiradora.png' %}" alt="tiradora">
            <div class="detalle">
                <h5>Mosquetera</h5>
                <h2>Tiradora</h2>
                <h3>Épica</h3>
            </div>
        </div>
    </div>
    <div class="producto">
        <div class="contenedor_producto">
            <img src="{% static 'app/img/monge.png' %}" alt="monge">
            <div class="detalle">
                <h5>Monge</h5>
                <h2>Peleador</h2>
                <h3>Legendaria</h3>
            </div>
        </div>
    </div>
    <div class="producto">
        <div class="contenedor_producto">
            <img src="{% static 'app/img/bruja.png' %}" alt="bruja">
            <div class="detalle">
                <h5>Bruja</h5>
                <h2>Mago</h2>
                <h3>Legendaria</h3>
            </div>
        </div>
    </div>
    <div class="producto">
        <div class="contenedor_producto">
            <img src="{% static 'app/img/dragon.png' %}" alt="dragon">
            <div class="detalle">
                <h5>Dragon</h5>
                <h2>Volador</h2>
                <h3>Legendaria</h3>
            </div>
        </div>
    </div>
    <div class="producto">
        <div class="contenedor_producto">
            <img src="{% static 'app/img/mortero.png' %}" alt="mortero">
            <div class="detalle">
                <h5>Mortero</h5>
                <h2>Trampa</h2>
                <h3>Común</h3>
            </div>
        </div>
    </div>
    <div class="producto">
        <div class="contenedor_producto">
            <img src="{% static 'app/img/leñador.png' %}" alt="leñador">
            <div class="detalle">
                <h5>Leñador</h5>
                <h2>Peleador</h2>
                <h3>Champion</h3>
            </div>
        </div>
    </div>
    <div class="producto">
        <div class="contenedor_producto">
            <img src="{% static 'app/img/caballeria.png' %}" alt="caballeria">
            <div class="detalle">
                <h5>Principe</h5>
                <h2>caballeria</h2>
                <h3>Champion</h3>
            </div>
        </div>
    </div>
    <div class="producto">
        <div class="contenedor_producto">
            <img src="{% static 'app/img/bandida.png' %}" alt="bandida">
            <div class="detalle">
                <h5>Bandida</h5>
                <h2>Peleador</h2>
                <h3>Común</h3>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}